
<div class="player-container">
    <button mat-icon-button (click)="previousTrack()">
      <mat-icon>skip_previous</mat-icon>
    </button>
    <button mat-icon-button (click)="playPause()">
      <mat-icon>{{ isPlaying ? 'pause' : 'play_arrow' }}</mat-icon>
    </button>
    <button mat-icon-button (click)="nextTrack()">
      <mat-icon>skip_next</mat-icon>
    </button>
  </div>
  <div class="track-info" *ngIf="tracks.length">
    <div class="track-name">{{ currentTrackName }}</div>
    <div class="artist-name">{{ currentArtistName }}</div>
  </div>
  <div class="accordion-container">
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Background Noise
          </mat-panel-title>
          
        </mat-expansion-panel-header>
        <div class="noise-options">
          <mat-button-toggle-group multiple vertical [(ngModel)]="selectedNoiseTypes" (change)="handleSelectedNoiseTypes()">
            <mat-button-toggle value="white">White Noise</mat-button-toggle>
            <mat-button-toggle value="brown">Brown Noise</mat-button-toggle>
            <mat-button-toggle value="traffic">Street Traffic</mat-button-toggle>
            <mat-button-toggle value="rain">Rain</mat-button-toggle>
            <mat-button-toggle value="stream">Stream</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  
  
  
  
  
  